.form {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 0;
  flex: 1 1 auto;
}

.form__fieldset {
  padding: 20px 5%;
  border: 1px solid #666;
  box-shadow: inset 1px 1px 8px #aaa;
  border-radius: 10px;
  background: rgba(33, 33, 33, 0.7);
}

.form__legend {
  background-color: #222;
  font-size: 25px;
  font-weight: bold;
}
